body {
    background-color: #f0f7f4;
    display: flex;
    justify-content: center;
}

hr {
    display: block;
    border: 1px solid #705d56;
    background-color: #705d56;
    width: 95%;
    opacity: 0.5;
}

.site {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
}

.header {
    order: -1;
    background-color: #705d56;
    color: #f0f7f4;
    height: 50px;
}

.body {
    order: 0;
}

.footer {
    order: 3;
    background-color: #705d56;
    color: #f0f7f4;
}