.vl {
    border: 2px solid #705d56;
    opacity: 0.5;
    height: 280px;
}

.body h1 {
    text-align: center;
    text-decoration: underline;
}

.sect
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.topi
{
    padding: 10px 10px;
}
