.vl {
    border: 2px solid #705d56;
    opacity: 0.5;
    height: 120px;
}

.body h1 {
    text-align: center;
    text-decoration: underline;
}

.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.hobbies button {
    height: 100px;
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.hobbies button:hover {
    color: #70abaf;
    background-color: black;
    transition: 0.5s;
}

.intrests {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.intrests button {
    height: 100px;
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.intrests button:hover {
    color: #70abaf;
    background-color: black;
    transition: 0.5s;
}

.h-gaming {
    display: none;
}

.h-coding {
    display: none;
}

.h-design {
    display: none;
}

.i-gaming {
    display: none;
}

.i-coding {
    display: none;
}

.i-design {
    display: none;
}

.i-read_write {
    display: none;
}

.i-cooking {
    display: none;
}

.i-crafting {
    display: none;
}

.i-art {
    display: none;
}