.vl {
    border: 2px solid #705d56;
    opacity: 0.5;
    height: 120px;
    order: 2;
}

.layer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.topic {
    order: 1;
    text-align: center;
    text-decoration: underline;
    align-self: center;    
}

.type {
    order: 3;
    text-align: center;
}

.reason-two {
    order: 4;
    text-align: center;
}

.special {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.photo-caption {
    font-size: 13px;
}