.body h1 {
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.key {
    text-align: center;
}

.style {
    text-align: center;
}

.unit-13 {
    display: flex;
    justify-content: center;
}

.u13-interactive {
    border: 1px solid #32292f;
}